/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #fe7f28;
    color: black;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Other section styles */
section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: black;
}

/* Footer styles */
footer {
    background-color: black;
    color: #fe7f28;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}